h1{
    color: #0059D4;
    font-size: 20px;
}

p{
    color: #DA1593;
    font-weight: bold;
}

b{
    color: #0059D4;
}

.about{
    margin-left: 2em;
}

.about ul{
    list-style-type: circle;
    padding-left: 2em;
}

.about li{
    padding-bottom: 0.5em;
}

.about li ul{
    list-style-type: square;
}

.about li ul li{
    padding-bottom: 0;
}