#uploadedimage{
    text-align: center;
    margin: 10px;
}

#uploadedimage ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

#uploadedimage img{
    margin:10px;
}

#form{
    text-align: center;
    margin-top: 10%;
}

#form input[type=file]{
    display: none;
}

#form input[type=submit]{
    width: 15em;
    background-color: #0059D4;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 8px 15px;
}

#form input[type=submit]:hover {
    background-color: #80B5FE;
}

#form label{
    display: inline-block;
    width: 15em;
    cursor: pointer;
    background-color: #DA1593;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 8px 15px;
}

#form label:hover{
    background-color: #FE8CD5;
}

progress{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15em;
    height: 25px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-moz-progress-bar {
    border-radius: 4px;
    background: linear-gradient(0.25turn, #DA1593, #0059D4);
}