.check {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 2%;
}

.check img{
    width: 30em;
}

@media (min-width : 520px){
    .check form{
        margin-left: 20px;
    }
}

