picture img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    width: 50em;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
    margin-bottom: 2em;
}

table {
    border-collapse: collapse;
    margin: 1em auto 1%;
}

td, th {
    border-left: 1px solid #DA1593;
    text-align: center;
}

td:first-child, th:first-child {
    border-left: none;
}

tr{
    border: 1px solid #DA1593;
}

h2{
    color: #0059D4;
}

thead{
    color: #0059D4;
}
