#all{
    text-align: center;
    color:#DA1593;
    font-size: 20px;
}

.boite{
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=text], input[type=password], input[type=url]{
    width: 25em;
    vertical-align: center;
    border: 1px solid #DA1593;
    border-radius: 4px;
    padding: 8px 15px;
    background-color: #FEFFFE;
    color:#DA1593;
}

input[type=submit]{
    width: 25em;
    background-color: #0059D4;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 8px 15px;
}

input[type=submit]:hover {
    background-color: #80B5FE;
}

@media (max-width : 520px){
    input[type=text], input[type=password], input[type=url],input[type=submit]{
        width: 10em;
    }
}