@media (min-width : 1000px){
    .galerie{
        display : flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .galerie img{
        object-fit: contain;
        height: 15em;
        transition: transform .2s;
        margin : 15px;
    }

    .galerie img:hover{
        transform: scale(1.2);
    }
}

@media (max-width : 1000px){
    .galerie{
        display : flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .galerie img{
        object-fit: contain;
        height: 15em;
        margin : 15px;
    }
}