nav img {
    height: 5em;
    transition: 15s;
}

nav img:hover{
    transform: rotate(15turn) scale(15);
}

nav a{
    display: inline-block;
}

@media (min-width : 700px){
    nav {
        display: flex;
        margin-bottom: 30px;
    }
    nav ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: flex-start;
    }
}

@media (max-width: 700px) {
    nav ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}



nav ul li a, nav ul li a:visited {
    color: #0059D4;
    font-size: 1.5em;
    text-decoration: none;
    margin: 0.25em;
    transition: .2s;
}

nav ul li a:hover, nav ul li a:active {
    color: #DA1593;
    transform: rotate(5deg);
}
