* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-family: Arial, serif;
    background-color: #ECECEA;
}


aside {
    text-align: center;
}

#feedback{
    text-align: center;
    color:#DA1593;
    font-size: 20px;
}