.box{
    border-radius: 4px;
    background-color: #A5A5A4;
    padding: 15px;
    margin-top: 1%;
}

.galerie{
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.box{
    text-align: center;
}

.box a {
    text-decoration: none;
}

input[type=submit], .box a:last-child{
    padding: 8px 15px;
    background-color: #0059D4;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1em;
}

input[type=submit]:hover, .box a:last-child:hover{
    background-color: #003E94;
}

