{% extends 'basic.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="public/stylesheets/about.css">
{% endblock %}

{% block main %}
    <div class="about">
    <h1>À propos de notre site</h1>
        <br>
    <p>Fonctionnalités :</p>
        <br>
    <ul class="ulabout">
        <li>
            Membres du groupe
            <ul>
                <li>Lucas Tournière (21500503)</li>
                <li>Clément Vétillard (21504598)</li>
            </ul>
        </li>
        <li> Affichage d'une galerie d'image responsive à l'aide de flexbox, la qualité de l'image change quand on zoom, et charge une miniature quand la page est très zoomée.</li>
        <li> Chaque image de la galerie a une page dédiée montrant l'image, ses métadonnées et une carte si celles-ci contiennent des données de géolocalisation.</li>
        <li>gestion d'authentification sans base de données dont voici les identifiants demandés pour la correction :
            <ul>
                <li>identifiant : <b>Alexandre</b>, mot de passe : <b>niveau</b> <i>(avec les majuscules)</i>.</li>
                <li>identifiant : <b>Jean-Marc</b>, mot de passe : <b>lecarpentier</b> <i>(avec les majuscules)</i>.</li>
            </ul>
        </li>
        <li>Possibilité d'ajouter des images pour les utilisateurs connecté :
            <ul>
                <li></i>upload d'image géré avec ajax</li>
                <li></i>possibilité d'ajouter plusieurs images en même temps.</li>
                <li></i>suivi du transfert avec une barre de progression.</li>
                <li></i>après le transfert une redirection vers une page permettant de modifier les métadonnées des images.</li>
            </ul></li>
        <li>
            Possibilité pour les utilisateurs connectés de modifier les métadonnées d'une image ou de supprimer une image de la galerie.
            <ul>
                <li>Lors de l'ajout, une confirmation des métadonnées est demandée avec un formulaire.</li>
                <li>Pour la confirmation et la modification des métadonnées, les formulaires sont envoyé via
                XHR afin de pouvoir modifier plusieurs images une à une dans le cas d'un upload multiple.</li>
            </ul>
        </li>
        <li><b>Nota : </b>sans JavaScript, le site reste fonctionnel, mais est diminué (pas d'upload multiple et
        les formulaires peuvent renvoyer sur une autre page)</li>
    </ul>
    </div>
{% endblock %}