<html lang="fr" {% block prefix %}{% endblock %}>
    <head>
        <meta charset="UTF-8">
        <title>Plickr</title>
        <link rel="stylesheet" href="public/stylesheets/style.css">
        <link rel="stylesheet" href="public/stylesheets/menu.css">
        <link rel="icon" href="favicon.ico">
        {% block head %}
            <meta name="twitter:card" content="Projet du Master IDC - Unicaen">
            <meta name="twitter:site" content="{{ base_url }}">
            <meta name="twitter:title" content="Plickr">
            <meta name="twitter:description" content="Une application web pour afficher, écrire et éditer les métadonnées d'images.">
            <meta name="twitter:image" content="public/skin/logo.jpg">
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <img src="public/skin/logo.png" alt="Logo de Plickr">
                <ul>
                    <li><a href="index.php">accueil</a></li>
                    {% if 'user' in session|keys %}
                        <li><a href="?p=userimages">modification</a></li>
                        <li><a href="?p=upload">ajouter image</a></li>
                        <li><a href="?p=about">about</a></li>
                        <li id="far"><a href="?p=logout">deconnexion</a></li>
                    {% else %}
                        <li><a href="?p=about">about</a></li>
                        <li><a href="?p=login">connexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
                <div id="feedback">{{ feedback }}</div>
            {% endblock %}
        </footer>
    </body>
</html>