{% extends 'basic.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="public/stylesheets/form.css">
    <link rel="stylesheet" href="public/stylesheets/check.css">
{% endblock %}

{% block main %}
    {% include 'parts/checker.html.twig' %}
{% endblock %}

{% block footer %}
    <script src="public/javascripts/checker.js"></script>
    {{ feedback }}
{% endblock %}