{% extends 'basic.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="public/stylesheets/form.css">
    <link rel="stylesheet" href="public/stylesheets/check.css">
{% endblock %}

{% block main %}
{% for image in images %}
{% include 'parts/checker.html.twig' %}
{% endfor %}
{% endblock %}

{% block footer %}
<script src="public/javascripts/checker.js"></script>
    {{ feedback }}
{% endblock %}