{% extends 'basic.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="public/stylesheets/form.css">
{% endblock %}

{% block main %}
    <div id="all">
    {% if 'user' in session|keys %}
        <p>Bienvenue, {{ session.user.username }}</p>
    {% else %}
        <form method="post" action="?p=login">
            <div class="boite">
                Nom d'utilisateur<br><input type="text" name="username" maxlength="12" required><br>
            </div>
            <div class="boite">
                Mot de passe<br><input type="password" name="password" maxlength="16" required><br>
            </div>
            <div class="boite">
                <input type="submit" name="signin" value="Connexion">
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}