{% extends 'basic.html.twig' %}

{% block prefix %}
prefix="og: http://ogp.me/ns#"
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="public/stylesheets/detail.css">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="{{ type }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ url_picture }}">
    <meta property="og:image:alt" content="{{ alt }}">
    <meta property="og:image:type" content="{{ type }}">
    <meta property="og:image:width" content="{{ width }}">
    <meta property="og:image:height" content="{{ height }}">
{% endblock %}

{% block main %}
    <picture>
        <img src="{{ img }}" alt="{{ alt }}">
    </picture>

    <div id="map" data-lat="{{ lat }}" data-lon="{{ lon }}"></div>

    <aside>
        <h2>Métadonnées de l'image</h2>
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Valeur</th>
            </tr>
            </thead>
            <tbody>
            {% for key,value in data %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </aside>
{% endblock %}
{% block footer %}
    <script src="public/javascripts/details.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWH3fZKcc2jI0vnP3gokABf6hnImRFpKA&callback=initMap">
    </script>
{% endblock %}