{% extends 'basic.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="public/stylesheets/addimage.css">
    <link rel="stylesheet" href="public/stylesheets/form.css">
    <script src="public/javascripts/gallery.js" ></script>
{% endblock %}

{% block main %}
    <div id="form">
    <form enctype="multipart/form-data" method="post" action="?p=upload" id="fileupload" >
        <label for="up">Choisir une image</label>
        <input type="file" accept="image/*" id="up"><br>
        <div id="uploadedimage">

        </div>
        <input type="submit" value="envoyer">
    </form>
        <progress id="progress" value="0" max="100"></progress>
    </div>
{% endblock %}

{% block footer %}
    <div id="feedback">
        <p id="checkJS">JavaScript ne semble pas être activé sur votre page. Veillez à l'activer pour accéder à la page
        de vérification des métadonnées pour les valider.</p>
    </div>
    {{ feedback }}
{% endblock %}
