{% extends 'basic.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="public/stylesheets/galerie.css">
    <link rel="stylesheet" href="public/stylesheets/userimage.css">
{% endblock %}

{% block main %}
    <div id="feedback">
        {{ feedback }}
    </div>
    <div class="galerie">
        {% for key,img in imgs %}
            <div class="box">
                <picture>
                    <a href="?p=details&id={{ key }}">
                        <source media="(max-width:400px)" srcset="public/images/miniature/{{ key }}" />
                        <img src="public/images/full/{{ key }}" alt="{{ key }}" srcset="public/images/resized/{{ key }} 1x, public/images/full/{{ key }} 2x">
                    </a>
                    <form method="post" action="?p=delete&id={{ key }}">
                        <input type="submit" value="supprimer">
                    </form>
                </picture>
                <a href="?p=metadata&pic={{ key }}">Modifier</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}