<div class="check">
    <figure>
        <img src="{{ image['path'] }}" alt="{{ image['path'] }}">
    </figure>
    <div id="all">
        <form method="post" action="?p=upload&a=validate">
            <input name="path" type="text" hidden value="{{ image['path'] }}">
            <label class="boite">
                Titre de l'image<br>
                <input name="titre" type="text" placeholder="Titre de l'image" value="{{ image['titre'] }}">
            </label><br>
            <label class="boite">
                Auteur / Artiste<br>
                <input name="auteur" type="text" placeholder="Prénom Nom" value="{{ image['auteur'] }}">
            </label><br>
            <label class="boite">
                Description<br>
                <input name="description" type="text" placeholder="Description de l'image..." value="{{ image['description'] }}">
            </label><br>
            <label class="boite">
                État / Province<br>
                <input name="state" type="text" placeholder="France, England..." value="{{ image['state'] }}">
            </label><br>
            <label class="boite">
                Code pays<br>
                <input name="iso" type="text" placeholder="FR, EN, USA..." value="{{ image['iso'] }}">
            </label><br>
            <label class="boite">
                Date de création<br>
                <input name="date" type="text" placeholder="YYYY:MM:DD h:m:s+utc" value="{{ image['date'] }}">
            </label><br>
            <label class="boite">
                Copyright<br>
                <input name="rights" type="text" placeholder="CC-by-nc-sa, GNU Free Documentation License..." value="{{ image['rights'] }}"><br>
            </label><br>
            <label class="boite">
                Usages<br>
                <input name="usage" type="url" placeholder="E.g : http://creativecommons.org/licenses/by-sa/3.0/deed.en" value="{{ image['usage'] }}">
            </label><br>
            <label class="boite">
                Mots-clefs<br>
                <input name="keywords" type="text" placeholder="Mot, clef, keywords" value="{{ image['keywords'] }}">
            </label><br>
            <input type="submit" value="Envoyer">
        </form>
    </div>
</div>